pydantic~=2.10.6
pydantic-settings~=2.7.1
motor~=3.6.1
fastapi~=0.115.7
uvicorn
asyncpg
starlette~=0.45.3
SQLAlchemy~=2.0.37
selenium~=4.28.1
APScheduler~=3.11.0
openpyxl~=3.1.5
httpx~=0.28.1
pandas~=2.2.3
metpy